@media screen and (max-width: 800px) {
.menu_btn_block{
    display: none;
}

.CenterNav {
    width: 100%;
    max-width: 356px;
    height: 230px;
    margin: auto;
    position: relative;
    overflow: hidden;
    max-width: 356px;
    max-height: 520px;
    z-index: 10;
}
.location-block {
    width: 100%;
    height: 100%;
    display: inline-block;
    float: left;
    position: relative;
}

.LeftNav, .RightNav {
    width: calc(50% - 12px);
    position: absolute;
    height: auto;
    top: 200px;
    z-index: 2;
}

.LeftNav {
    left: 7px;
}

.RightNav {
    right: 7px;
}

.GameNavButton_AB {
    margin: 5px auto;
    max-width: 250px;
    height: 34px;
    font-size: 14px;
    position: relative;
}

.NavPointtitle {
    position: absolute;
    height: 25px;
    top: 35px;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgba(255, 255, 255, 0.61);
    font-family: index;
    text-align: center;
    font-size: 14px;
}

.Button_area {
    position: absolute;
    top: 50px;
    width: 100%;
}

#LocInfoGlobal{
  display: none;
}
.chat-block {
    width: 100%;
    height: calc(50% - 35px);
    display: inline-block;
    position: fixed;
    z-index: 999999999999999;
    left: 0;
    background: #8e4848 url(http://patcreator.appspot.com/imgs/textures/dark/dark-texture-03.jpg);
    height: calc(100% - 2px);
    top: 0;
}
.chat, .user-li {
    display: inline-block;
    height: calc(100% - 8px);
    background: rgba(0, 0, 0, 0.4);
    margin: 5px;
    border-radius: 7px;
    box-shadow: inset 0px 0px 10px 3px;
    position: relative;
}
#chat {
    width: calc(100% - 10px);
    bottom: 0;
    position: absolute;
}
#user-li {
    width: calc(310px);
    display: none;
}

.hide_top{
  z-index: 0;
}
}
